.menu
{
  background-color: rgb(29, 31, 33);
  text-align: left;
  height: 1.5rem;
}

.link-menu
{
  padding-right: 1rem;
  margin: 0.25rem;
  
}

.link-menu-right
{
  padding-right: 1rem;
  margin: 0.25rem;
  float: right;
}
