.menu
{
  background-color: rgb(45, 48, 51);
  text-align: left;
  height: 2rem;

  font-size: 18px;
  font-family: "Calibri";

  width: 1000px;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 0.5rem;

}

.link-menu
{
  margin: 0.5rem;
}

.menu-left
{
  height: 100%;
  float: left;
}

.menu-right
{
  height: 100%; 
  float: right;
}
