.order
{
    margin-bottom: 1rem;
    border: 2px dotted rgb(48, 52, 54);
}

.order-head
{
    background-color: rgb(32, 32, 32);
    height: 4rem;
}

.order-parameter
{
    width: 20%;
    padding: 0.5rem;
    float: left;
}

.order-parameter-payment
{
    width: 40%;
    padding: 0.5rem;
    float: left;
}