
.products-table
{
  width: 60%;
  border: 1px solid rgb(48, 52, 54);
  margin: 0 auto;
 
  margin: 0.5rem;
  margin-top: 0.5rem;
  float: left;
}

.products-table-order
{
  width: 100%;
  
  margin: 0;
  margin-top: 0.5rem;
}

.products-table-page
{
  width: 80%;
  margin-left: 10%;
}


.products-table-type-cell
{
  width: 20%;
  border: 1px solid rgb(48, 52, 54);  
  margin: 0 auto;
}

.products-table-cell
{
  width: 20%;
  border: 1px solid rgb(48, 52, 54);  
  margin: 0 auto;
}

.products-table-button-cell
{
  width: 20%;
  border: 1px solid rgb(48, 52, 54);   
  margin: 0 auto;
}

.products-table-button
{
  width: calc(100% - 0.5rem);
  
  border: 1px solid rgb(48, 52, 54);    
  background-color: rgb(31, 34, 36);

  font-size: 18px;
  font-family: "Calibri";

  margin: 0.25rem;
}

.products-table-button:hover
{
  background-color: rgb(50, 55, 58);
}

.product-parameter
{
  
  padding: 0.25rem;
  margin: 0.25rem 0.0rem 0.25rem 0.0rem;
  
  text-align: center;
  font-size: 12px;
  font-family: "Calibri";
  text-align: center;

  float: left;
  display: block;
}

.product-count
{
  display: inline-block;
  text-align: center;
  width: 2rem;
}

.product-count-button-right
{
  text-align: center;
  width: 2rem;
  float: inline-end;
  margin: 0.25rem;
}

.product-count-button-left
{
  text-align: center;
  width: 2rem;
  display: inline-block;
  margin: 0.25rem;
}


.button-text
{
  text-align: center;
}

